# ===== Python and macOS =====
__pycache__/
*.py[cod]
*.so
.DS_Store

# ===== Virtual Environments =====
venv/
.env/

# ===== Jupyter/Logs =====
*.ipynb_checkpoints
*.log

# ===== Datasets =====
*.csv
*.tsv
*.xlsx
*.zip
*.npy
*.pkl

# ===== Outputs =====
outputs/*
!outputs/*.png
!outputs/*.txt
!outputs/*.json

# ===== IDE =====
.vscode/
.idea/
fraud_detection_ml/creditcard.csv
