# Ignore Python environments
venv/
.env/

# Ignore caches and build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.DS_Store

# Ignore model weights or large data
*.h5
*.pkl
*.joblib
*.csv
*.tsv
*.xlsx
*.zip
*.tar
*.gz
*.npy
*.npz
